<br>
<h2>Gerenciar Caminhão</h2>
<form #cadastro="ngForm" name="zeraCampos" (submit)="incluirCaminhao()">
  <div class="row">
    <div class="col-md-4">
      <input type="text" id="modelo" name="modelo" [(ngModel)]="caminhao.modelo" placeholder="Modelo do Caminhão:" required class="form-control"> <br>
    </div>
    <div class="col-md-4">
      <input type="text" id="anoFabricacao" name="anoFabricacao" placeholder="Ano de fabricação:" [(ngModel)]="caminhao.anoFabricacao" required class="form-control"> <br>
    </div>
    <div class="col-md-4">
      <input type="text" id="placa" name="placa" placeholder="Placa" [(ngModel)]="caminhao.placa" required class="form-control"> <br>
    </div>
    <div class="col-md-4">
      <input type="text" id="chassi" name="chassi" placeholder="Chassi" [(ngModel)]="caminhao.chassi" required class="form-control"> <br>
    </div>
    <div class="col-md-4">
      <input type="text" id="renavam" name="renavam" placeholder="Renavam" [(ngModel)]="caminhao.renavam" required class="form-control"> <br>
    </div>
    <div class="col-md-4">
      <select  [(ngModel)]="caminhao.marca.marca" class="form-control" name="marca" id="marca">
        <option *ngFor="let fabricante of listaFabricante" value={{fabricante.marca}}>
          {{fabricante.marca}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-4" style="margin-top: 30px;">
    <button type="submit" class="btn btn-primary btn-circle form-control">Confirmar</button>
  </div>
</form>
<br>
