

<div class="container-fluid">
  <div class="row ">
    <div class="col-md-12" style="margin-top: 20px;">
      <a href="/listarmarca" class="btn btn-primary">Cadastrar nova marca</a>
    </div>
    <div class="col-md-12">
      <app-novo-caminhao [caminhao]="caminhao"></app-novo-caminhao>
    </div>
    <div class=" col-md-12" style="margin-top: 20px">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Modelo</th>
            <th>Chassi</th>
            <th>Marca</th>
            <th>Ano de Fabricação</th>
            <th>Placa</th>
            <th>Renavam</th>
            <th class="text-center"> </th>
          </tr>
        </thead>
        <tbody class="row-fluid">
          <tr *ngFor="let veiculo of listaCaminhao">
            <td class="modelo">
              {{veiculo.modelo}}
            </td>
            <td class="chassi">
              {{veiculo.chassi}}
            </td>
            <td class="marca">
              {{veiculo.marca.marca}}
            </td>
            <td class="anoFabricacao">
              {{veiculo.anoFabricacao}}
            </td>
            <td class="placa">
              {{veiculo.placa}}
            </td>
            <td class="renavam">
              {{veiculo.renavam}}
            </td>
            <td >
              <div class="row" style="width: 100%;">
                <div class="col-md-12 col-lg-2 col-sm-12 alinha__left" style="margin-bottom: 15px;">
                  <button class="btn btn-sm btn-success" (click)="editarCaminhao(veiculo)">Alterar</button>
                  <button class="btn btn-sm btn-danger" (click)="excluirCaminhao(veiculo)">Remover</button>
                </div>
                <div class="col-md-12 col-lg-2 col-sm-12 left__table" style="margin-left: 50px;">
                  <button style="color: #fff;" class="btn btn-sm {{veiculo.trancado == 0 ? 'btn-success' : 'btn-amarelo'}}" (click)="trancarCaminhao(veiculo)" >{{veiculo.trancado == 0 ? 'Destrancado' : 'Trancado'}}</button>
                  <button class="btn btn-sm btn-primary" id="click{{veiculo.placa}}" (click)="localizarCaminhao(veiculo)">Localizar</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top: 30px;"></div>
    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="long">
      <agm-marker  [latitude]="lat"  [longitude]="long"></agm-marker>
    </agm-map>
    <div class="espacamento"></div>
  </div>

</div>
